<h1><a href="https://github.com/<%= owner %>/<%= repo %>"><%= owner %>/<%= repo %></a>にコメントします</h1>
<div class="row">
  <div class="col-md-12">
    <form method="POST" role="form">
      <div class="form-group">
        <label for="title">タイトル</label>
        <input type="text" id="title" name="title" value="<%= title %>" class="form-control" placeholder="コメントの短い紹介" />
      </div>
      <div class="form-group">
        <label for="body">コメント</label>
        <textarea name="body" class="form-control" style="height: 300px; "><%= body %></textarea>
      </div>
      <% if guest_submissions_enabled %>
        <div class="row">
          <div class="col-sm-4 guest">
            <div class="form-group">
              <input type="text" id="name" name="name" class="form-control" value="<%= name %>" placeholder="Your name" />
              <button type="submit" class="btn btn-default" name="type" value="guest">ゲストとして提出</button>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="pick-me">
              ...または <button class="btn btn-primary" type="submit" name="type" value="github">
                <% if github_user %>
                  @<%= github_user.login %> として提出
                <% else %>
                GitHubのを使用してログイン
                <% end %>
              </button> コメントやアップデートを受信します
            </div>
          </div>
        </div>
      <% else %>
        <button type="submit" class="btn btn-primary" name="type" value="github">提出します</button>
      <% end %>
    </form>
  </div>
</div>
